<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    <% for (var cat of cats) { %>
        <h3>Name: <%= cat.name %></h3>
        <h4>Food: <%= cat.food %></h4>
        <h4>age: <%= cat.age %></h4>
        <hr>
    <% } %>
</body>
</html>