<!DOCTYPE html>
<html>
<head>
    <title>cat</title>
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
</head>
<body>
<a href="cats/data"><img src="images/cat.jpg" alt=""></a>
</body>
</html>