<!DOCTYPE html>
<html>
<head>
    <title>counter</title>
</head>
<body>
    <p><%= count %></p>
    <a href="/reset"><button>reset</button></a>
    <a href="/addtwo"><button>+2</button></a>
</body>
</html>