<!DOCTYPE html>
<html>
<head>
    <title>Hello Mongoose</title>
</head>
<body>
    <form action="/users" method="post">
        <input type="text" placeholder="name" name="name">
        <input type="text" placeholder="age" name="age">
        <input type="submit">
    </form>
</body>
</html>