<!DOCTYPE html>
<html>
<head>
    <title>Hello Mongoose</title>
</head>
<body>
    <form action="/users" method="post">
        Name: <input type="text" name="name">
        <br>
        Age: <input type="text" name="age">
        <br>
        <input type="submit" value="Submit">
    </form>
    
    <% for (user of users) { %>
        <p><%= user.name %></p>
        <p><%= user.age %></p>
    <% } %>
 
</body>
</html>