*{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
body{
    background-color: #1A1A1A;
}
div#singlec{
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr;
}
div#tripplec{
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr 1fr;
}
img#home{
    height: 6rem;
    margin: .3rem;
}
a#home{
    justify-self: start;
}
h1{
    display:inline-block;
    background-color: #7500AF;
    color: white;
    width: 20rem;
    text-align: center;
    border-radius: 1rem;
    padding: 1rem;
}
table{
    border: solid black .5rem;
    width: 100%;
    border-collapse: collapse;
}
td, th{
    text-align: center;
    border: 1px solid black;
    padding: .5rem;
}
tr:nth-child(even){
    background-color: #A7A7A7;
}
tr:nth-child(odd){
    background-color: #D8D8D8;
}
tr:hover{
    background-color: white;
}
th{
    padding: .8rem 0 .8rem 0;
    background-color: black;
    color: white;
}
a.add_user{
    justify-self: start;
    text-decoration: none;
    margin: 2rem 0 0 0;
    background-color: #7500AF;
    border: .2rem outset black;
    color: white;
    border-radius: 1rem;
    padding: .5rem;
}
form{
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: .5rem;
    background-color: black;
    padding: 2rem;
    border: solid #7500AF .5rem;
    border-radius: 1rem

}
p{
    text-align: center;
    color: white;
    margin: 0;
}
#submit_button{
    margin: 1rem 0 0 0;
    background-color: #B4B4B4;
    border-radius: 1rem;
    border: solid #7500AF .2rem;
}
a{
    color: blue;
    text-decoration: none;
}
table.show{
    width: 20%;
    border: solid black .5rem;
}
table.show tr th{
    text-align: right;
    padding: .5rem;
}
table.show tr td{
    text-align: left;

}
p.error_flash{
    color: red;
    padding-bottom: .2rem;
}
p.success_flash{
    color: green;
    padding-bottom: .2rem;
}
p.flash{
    padding-bottom: .2rem;

}