<!DOCTYPE html>
<html>
<head>
    <title>Login and Registration Project</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'loginreg/style.css' %}">
</head>
<body>
    <h1>Login and Registration</h1>
    {% if messages %}
        {% for message in messages %}
            <p> {{message}} </p>
        {% endfor %}
    {% endif%}         
    <div class="twocolumn">
        <h2>Register</h2>
        <h2>Log In</h2>
        <form action="/" id="register" method="POST">
            {% csrf_token %}
            <p>User Name</p>
            <input type="text" name="username" value="{{ user_name }}">
            <p>Email:</p>
            <input type="text" name="email" value={{ email }}>
            <p>Birthday:</p>
            <input type="date" name="birthday" value={{ birthday }}>
            <p>Password:</p>
            <input type="password" name="password" > 
            <p>Confirm Password:</p>
            <input type="password" name="confirm_password" >
            <br>
            <input id="submit_button" type="submit" value="register">
        </form>
        <form action="login/" method="POST">
            {% csrf_token %}
            <p>User Name</p>
            <input type="text" name="username" >
            <p>Password:</p>
            <input type="password" name="password" >
            <br>
            <input id="submit_button" type="submit" value="log in">
        </form>
    </div>
</body>
</html>