*{
    /*outline:solid red 1px;*/
    border-radius: .8rem;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
body{
    display: grid;
    background-color: #1B2472;
    grid-template-columns: 1fr;
    justify-items: center;
}
div.gold_box{
    display: flex;
    justify-content: space-between;
    width: 75%;
    margin: 2rem 0 2rem 0;
}
span.gold{
    margin:0;
    padding: .3rem;
    background-color: #D5C951;
    border:solid black .2rem;
    box-shadow: .20rem .20rem 1rem black;
}
form.reset input{
    background-color: red;
    margin:0;
    padding: .3rem;
    border:solid black .2rem;
    box-shadow: .20rem .20rem 1rem black;  
}
div.places{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 2rem;
    width: 75%;
    justify-items: stretch;
}
div.place{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: .2fr 2fr .5fr;
    align-items: center;
    justify-items: center;
    height: 20rem;
    background-color: #2B2B2B;
    border: solid black .2rem;
    box-shadow: .5rem .5rem 1.5rem black;
}
div.place h2{
    margin:1rem 0 0 0;
    color: white;
}
img{
    width: 70%;
}
input{
    padding: .3rem;
    font-size: 1rem;
    width: 6rem;
    border: black solid .2rem;
    background-color: #D5C951;
}
div.activities{
    margin: 2rem 0 0 0;
    width: 60%;
    height: 19rem;
    background-color: #2B2B2B;
    color: white;
    text-align: center;
    font-size: 1.4rem;
    border: solid black .2rem;
    overflow-y: auto;
    overflow-x: hidden;
    box-shadow: .5rem .5rem 1.5rem black;
}
span{
    font-synthesis: 1rem;
}
span.red{
    color: red;
}
span.green{
    color: green;
}
span.white{
    color: #666666;
}