<form action="/mongooses" method="post">
    <span>Name:</span>
    <input type="text" name="name">
    <br>
    <span>Color:</span>
    <input type="text" name="color">
    <br>
    <input type="submit" value="submit">
</form>