<!DOCTYPE html>
<html>
<head>
    <title>Edit User</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div id="tripplec">
        <a id='home' href="/"><img id='home' src="{{ url_for('static', filename='home.png') }}" alt=""></a>
        <h1>Edit User</h1>
    </div>
    <div id="singlec">
        {% if get_flashed_messages() %}
            {% for message in get_flashed_messages() %}
                <p class="error_flash">{{ message }}</p>
            {% endfor %}
        {% endif %}
        <form action="/users/edit/{{ user[0]['id'] }}/confirm" method="POST">
            <p>First Name</p>
            <input type="text" name="firstname" value="{{ user[0]['first_name'] }}">
            <p>Last Name</p>
            <input type="text" name="lastname" value="{{ user[0]['last_name'] }}">
            <p>Email</p>
            <input type="text" name="email" value="{{ user[0]['email'] }}">
            <input id="submit_button" type="submit" value="Submit">
        </form>
    </div>
</body>
</html>