<!DOCTYPE html>
<html>
<head>
    <title>{{ user[0]['first_name'] }} {{ user[0]['last_name'] }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div id="tripplec">
        <a id='home' href="/"><img id='home' src="{{ url_for('static', filename='home.png') }}" alt=""></a>
        <h1>Show User</h1>
    </div>
    <div id="singlec">
        {% if get_flashed_messages() %}
            {% for message in get_flashed_messages() %}
                <p class="success_flash">{{ message }}</p>
            {% endfor %}
        {% endif %}
        <table class="show">
            <tr>
                <th>First Name</th>
                <td>{{ user[0]['first_name'] }}</td>
            </tr>
            <tr>
                <th>Last Name</th>
                <td>{{ user[0]['last_name'] }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ user[0]['email'] }}</td>
            </tr>
            <tr>
                <th>Created</th>
                <td>{{ user[0]['created_at'] }}</td>
            </tr>
            <tr>
                <th>Last Modified</th>
                <td>{{ user[0]['updated_at'] }}</td>
            </tr>
        </table>

    </div>
</body>
</html>