<!DOCTYPE html>
<html>
<head>
    <title>My Imaginary Friends</title>
</head>
<body>
    <h1>Add a Friend</h1>
    <form action="/create_friend" method="POST">
        <p>First Name: <input type="text" name="fname"></p>
        <p>Last Name: <input type="text" name="lname"></p>
        <p>Occupation: <input type="text" name="occ"></p>
        <input type="submit" value="Add Friend">
    </form>
    <h1>Delete a Friend</h1>
    <form action="/delete" method="POST">
        <p>Friend ID: <input type="text" name="id"></p>
        <input type="submit" value="DELETE">
    </form>
    <h1>All My Friends</h1>
    {% for one_friend in all_friends %}
        <p>ID: {{one_friend["id"]}}</p>
        <p>First Name: {{one_friend["first_name"]}}</p>
        <p>Last Name: {{one_friend["last_name"]}}</p>
        <p>Occupation: {{one_friend["occupation"]}}</p>
        <hr>
    {% endfor %}
</body>
</html>