<!DOCTYPE html>
<html>
<head>
    <title>Add Show</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'tv_shows/style.css' %}">
</head>
<body>
    <h1>Add a New Show</h1>
    {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>
                        {{ message }}
                    </li>
                {% endfor %}
            </ul>
    {% endif %}
    <form action="/add/" method="POST">
        {% csrf_token %}
        <h4>Title:</h4>
        <input type="text" name="title">
        <h4>Network:</h4>
        <input type="text" name="network">
        <h4>Release Date:</h4>
        <input type="date" name="release_date">
        <h4>Description:</h4>
        <textarea name="description" cols="20" rows="8"></textarea>
        <br>
        <input type="submit" value="Add">
    </form>
    <a href="/">Home</a>
</body>
</html>