<!DOCTYPE html>
<html>
<head>
    <title>semi-restful tv shows</title>
</head>
<body>

<h1>All Shows</h1>
<table>
    <thead>
        <th>id</th>
        <th>Title</th>
        <th>Network</th>
        <th>Release Date</th>
        <th>Actions</th>
    </thead>
{% for show in shows %}
    <tr>
    <td>{{ show.id }}</td>
    <td>{{ show.title }}</td>
    <td>{{ show.network }}</td>
    <td>{{ show.release_date }}</td>
    <td><a href="/show/{{ show.id }}">Show</a> | <a href="/edit/{{ show.id }}">Edit</a> |  <a href="/delete/{{ show.id }}">Delete</a></td>
    </tr>
{% endfor %}
</table>
<a href="/add/">Add a New Show</a>
</body>
</html>