<!DOCTYPE html>
<html>
<head>
    <title>semi-restful tv shows</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'tv_shows/style.css' %}">
</head>
<body>

<h1>All Shows</h1>
<table>
    <thead>
        <th>ID</th>
        <th>Title</th>
        <th>Network</th>
        <th>Release Date</th>
    </thead>
{% for show in shows %}
    <tr>
    <td><a href="/show/{{ show.id }}">{{ show.id }}</a></td>
    <td>{{ show.title }}</td>
    <td>{{ show.network }}</td>
    <td>{{ show.release_date }}</td>
    </tr>
{% endfor %}
</table>
<a href="/add/">Add a New Show</a>
</body>
</html>