<form (submit)="addCake()">
  Baker:<input type="text" name="baker" [(ngModel)]="newCake.baker">
  Image:<input type="text" name="image" [(ngModel)]="newCake.image">
  <input type="submit" value="Add Cake">
</form>

<div *ngFor="let cake of cakes">
  <table>
    <tr>
      <th>Baker</th>
      <th>Image</th>
      <th>Comment</th>
    </tr>
    <tr>
      <td>{{ cake.baker }}</td>
      <td><img src="{{ cake.image }}" alt=""></td>
      <td>
        <form (submit)="addComment(cake._id)">
          Comment:<input type="text" name="comment" [(ngModel)]="newComment.comment">
          <br>
          Rating:
          1<input type="radio" name="rating" value=1 [(ngModel)]="newComment.rating">
          2<input type="radio" name="rating" value=2 [(ngModel)]="newComment.rating">
          3<input type="radio" name="rating" value=3 [(ngModel)]="newComment.rating">
          4<input type="radio" name="rating" value=4 [(ngModel)]="newComment.rating">
          5<input type="radio" name="rating" value=5 [(ngModel)]="newComment.rating">
          <br>
          <input type="submit" value="comment">
        </form>
      </td>
    </tr>
    <tr>
      <td>
        <button (click)="deleteCake(cake._id)">delete</button>
        <button (click)="showCake(cake)">show comments</button>
      </td>
    </tr>
  </table>
</div>
<app-cake *ngIf="cakeDisplay" [cakeToShow]="cakeDisplay"></app-cake>