<!DOCTYPE html>
<html>
<head>
    <title>spooky</title>
    <style type="text/css">
        body{
            display: grid;
            background-color: black;
        }
        div{
            display: grid;
            grid-template-columns: 1fr 1fr;
        }
        img{
            width: 30%;
            margin-left: auto;
            margin-right: auto;
        }
        *{
            color:white;
            text-align: center;
        }
        a{
            text-decoration: none;
            color: yellow;
        }
    </style>
</head>
<body>
    <h3>What's in the basement?</h3>
        <p>You are chilling at home watching YouTube videos about python programming, when you hear a strange noise coming from your basement.</p>
        <img src="https://media-cdn.tripadvisor.com/media/photo-s/01/09/af/8b/computer-terminal-in.jpg" alt="">
        <p>What do you do?</p>
    <div>
        <a href="/p1">Go down into the deep dark basement</a>
        <a href="/p2">Ignore the noise and keep watching YouTube.</a>
    </div>
</body>
</html>