<!DOCTYPE html>
<html>
<head>
    <title>spooky</title>
    <style type="text/css">
        body{
            display: grid;
            background-color: black;
        }
        div{
            display: grid;
            grid-template-columns: 1fr 1fr;
        }
        img{
            width: 30%;
            margin-left: auto;
            margin-right: auto;
        }
        *{
            color:white;
            text-align: center;
        }
        a{
            text-decoration: none;
            color: yellow;
        }
    </style>
</head>
<body>
    <h3>What's in the basement?</h3>
        <p>You get up from your computer and descend into the the basement. The strange noise continues as you decend into the darkness.</p>
        <img src="https://proxy.duckduckgo.com/iu/?u=https%3A%2F%2Fcdn-images-1.medium.com%2Fmax%2F1200%2F1*zUUHG0shHNLqcWAn7nNdvA.jpeg&f=1&nofb=1" alt="">
        <p>You see the words 'HELP ME!' scratched into the wall. What do you do?</p>
    <div>
        <a href="/">Erase the words, ignore it and go back up stairs.</a>
        <a href="/p3">look around for clues</a>
    </div>
</body>
</html>