<!DOCTYPE html>
<html>
<head>
    <title>spooky</title>
    <style type="text/css">
        body{
            display: grid;
            background-color: black;
        }
        div{
            display: grid;
            grid-template-columns: 1fr 1fr;
        }
        img{
            width: 30%;
            margin-left: auto;
            margin-right: auto;
        }
        *{
            color:white;
            text-align: center;
        }
        a{
            text-decoration: none;
            color: yellow;
        }
    </style>
</head>
<body>
    <h3>What's in the basement?</h3>
        <p>Suddenly, your screen goes black. You think its a power outage but the lights are still on. A face appears on the monitor. It stares at you and begins to laugh maniacally.</p>
        <img src="https://proxy.duckduckgo.com/iu/?u=https%3A%2F%2Fi.ytimg.com%2Fvi%2F3eFKf8vBdbo%2Fmaxresdefault.jpg&f=1&nofb=1" alt="">
        <p>What do you do?</p>
    <div>
        <a href="/p4">punch the evil face</a>
        <a href="/p1">scream like a little girl and run into the basement</a>
    </div>
</body>
</html>