<!DOCTYPE html>
<html>
<head>
    <title>spooky</title>
    <style type="text/css">
        body{
            display: grid;
            background-color: black;
        }
        div{
            display: grid;
            grid-template-columns: 1fr 1fr;
        }
        img{
            width: 30%;
            margin-left: auto;
            margin-right: auto;
        }
        *{
            color:white;
            text-align: center;
        }
        a{
            text-decoration: none;
            color: yellow;
        }
    </style>
</head>
<body>
    <h3>What's in the basement?</h3>
        <p>A clown appears behind you with a knife, stabs you and you die.</p>
        <img src="https://proxy.duckduckgo.com/iu/?u=https%3A%2F%2Fi.ytimg.com%2Fvi%2FQHa6eleAKwU%2Fmaxresdefault.jpg&f=1&nofb=1" alt="">
        <img src="https://proxy.duckduckgo.com/iu/?u=https%3A%2F%2Fi.ytimg.com%2Fvi%2FLqSAL5vRM-Q%2Fhqdefault.jpg&f=1&nofb=1" alt="">
</body>
</html>