<!DOCTYPE html>
<html>
<head>
    <title>spooky</title>
    <style type="text/css">
        body{
            display: grid;
            background-color: black;
        }
        div{
            display: grid;
            grid-template-columns: 1fr 1fr;
        }
        img{
            height: 20rem;
            margin-left: auto;
            margin-right: auto;
        }
        *{
            color:white;
            text-align: center;
        }
        a{
            text-decoration: none;
            color: yellow;
        }
    </style>
</head>
<body>
    <h3>What's in the basement?</h3>
        <p>At the hospital, you meet a beautiful nurse and fall in love.</p>
        <p>The two of you end up getting married, having lots of kids and living happily ever after</p>
        <img src="http://www.pcscus.com/media/catalog/product/d/g/dg-11051x_white_3_front-cropped.jpg" alt="thick nurse">
        <p>You win!</p>
</body>
</html>