<!DOCTYPE html>
<html>
<head>
    <title>spooky</title>
    <style type="text/css">
        body{
            display: grid;
            background-color: black;
        }
        div{
            display: grid;
            grid-template-columns: 1fr 1fr;
        }
        img{
            width: 30%;
            margin-left: auto;
            margin-right: auto;
        }
        *{
            color:white;
            text-align: center;
        }
        a{
            text-decoration: none;
            color: yellow;
        }
    </style>
</head>
<body>
    <!-- P4 and P6 are copies of each other, too lazy to fix rn -->
    <h3>What's in the basement?</h3>
        <p>You punch through the glass monitor breaking your computer and bloodying your hand.</p>
        <img src="https://proxy.duckduckgo.com/iu/?u=http%3A%2F%2Fgifcrap.com%2Fg2data%2Falbums%2FComputers%2FGuy%2520punches%2520THROUGH%2520his%2520monitor.gif&f=1&nofb=1" alt="">
        <p>What's more important to you, your hand or your computer?</p>
    <div>
        <a href="/p5">Go to the hospital</a>
        <a href="/p7">Go to the computer store</a>
    </div>
</body>
</html>