<!DOCTYPE html>
<html>
<head>
    <title>spooky</title>
    <style type="text/css">
        body{
            display: grid;
            background-color: black;
        }
        div{
            display: grid;
            grid-template-columns: 1fr 1fr;
        }
        img{
            margin-left: auto;
            margin-right: auto;
        }
        *{
            color:white;
            text-align: center;
        }
        a{
            text-decoration: none;
            color: yellow;
        }
    </style>
</head>
<body>
    <h3>What's in the basement?</h3>
        <p>You ignore your bleeding hand because all you can think about is your broken computer monitor.</p>
        <p>You bleed out on the way to the store and die.</p>
        <div>
            <img src="https://proxy.duckduckgo.com/iu/?u=https%3A%2F%2Frender.fineartamerica.com%2Fimages%2Frendered%2Fdefault%2Fposter%2F8%2F10%2Fbreak%2Fimages-medium-5%2Fbloody-hand-jt-photodesign.jpg&f=1&nofb=1" alt="">
            <img src="https://proxy.duckduckgo.com/iu/?u=https%3A%2F%2Fi.ytimg.com%2Fvi%2FLqSAL5vRM-Q%2Fhqdefault.jpg&f=1&nofb=1" alt="">
        </div>
</body>
</html>